<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://sdk.mercadopago.com/js/v2"></script>
  </head>
  <body>
    <h1>Haciendo pruebas</h1>
    <button class=".cho-container">Pagar</button>
    <script>
      // Agrega credenciales de SDK
      const mp = new MercadoPago('TEST-c36413b4-c8c9-4464-8e79-c1ed0da16403', {
        locale: 'es-PE',
      });

      // Inicializa el checkout
      mp.checkout({
        preference: {
          id: '1234',
        },
        render: {
          container: '.cho-container', // Indica el nombre de la clase donde se mostrará el botón de pago
          label: 'Pagar', // Cambia el texto del botón de pago (opcional)
        },
      });
    </script>
    <script
      src="https://www.mercadopago.com.pe/integrations/v1/web-payment-checkout.js"
      data-preference-id="<%= global.id %>"
    ></script>
  </body>
</html>
